<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>97821164344-no7s1tt3cdbcej5sputrouker16feedq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.97821164344-no7s1tt3cdbcej5sputrouker16feedq</string>
	<key>API_KEY</key>
	<string>AIzaSyDdE4dYcPe-M9P3RKSjwpcSaiRPg0KghNI</string>
	<key>GCM_SENDER_ID</key>
	<string>97821164344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.relaf.free</string>
	<key>PROJECT_ID</key>
	<string>relafapp-free-version</string>
	<key>STORAGE_BUCKET</key>
	<string>relafapp-free-version.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:97821164344:ios:ac36a84388c1e6a7</string>
	<key>DATABASE_URL</key>
	<string>https://relafapp-free-version.firebaseio.com</string>
</dict>
</plist>